@import url(resets.css);

.wrapper{
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
.add-book-btn{
    display: block;
    margin: 0 auto;
}
.card{
    background-color: darkgrey;
    border: 1px solid black;
    margin: 20px 0;
    width: 300px;
    padding: 10px;
    border-radius: 10px;

}
::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1); 
}

.add-book-form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & div{
        display: grid;
        & h4{
            justify-self: center;
        }
    }
    & input:not(input[type='checkbox']){
        width: 100%;
    }

    & button[type='submit']{
        align-self: center;
    }
    & .close-add-form{
        justify-self: flex-end;
        border: none;
        background: none;
        cursor: pointer;
        & img{
            width: 20px;
        }
        
    }
}

